<!DOCTYPE html>
<html>
<head>
   <title>Upload</title>
   {% load staticfiles %}
   <link rel="stylesheet" href="{% static 'css/Upload.css' %}">
  
   <meta charset="utf-8">
   
</head>
<body>
  
   
      <!--<p>Este website foi desenvolvido por <strong></strong>{{ author }}</strong> utilizando a Django's Template Engine</p>-->

   <header>
      <div class="main">
         <div class="logo">
            <img src="logo.png">
         </div>
         <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
         </ul>
      </div>
      
      <div class="title">
         <p>
            Escolha seu arquivo
         </p> 
      </div>
      
      <form method="post" enctype="multipart/form-data" class="button">
        {% csrf_token %}

        {{ form.docfile }}
        <button class="btn" type="submit">Upload</button>
      </form>


      
   </header>
</body>
</html>

